[user]
	email = vuhailongkl97@gmail.com
	name = long.vu
#[url "git@github.com:"]
#	insteadOf = https://github.com/
[net]
	git-fetch-with-cli = true
[pull]
	rebase = true
[oh-my-zsh]
	hide-status = 1
[init]
	defaultBranch = main
[remote "origin"]
	prune = true
[core]
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
